body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* text */
.text-lggreen {
  color: #009688
}

.text-lgblue{
  color: #0099cc
}

.form-auth {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

/* buttons --------------------*/

.btn.outline {
	background: none; 
	padding: 12px 22px;
}
.btn-primary.outline {
	border: 2px solid #0099cc;
	color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299 ;  
	color: #007299;
	box-shadow: none;
}

.btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 400;
	letter-spacing: 1px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

.btn-primary.outline:hover {
  color: white;
	background-color: #36b3c9;
	border-color: #36b3c9;
}

/* End button style ---------------------*/


/* background styles --------------------*/

.bg-lgtblue {
  background-color:#36b3c9 !important
}

.bg-lgtgreen {
  background-color:#50ce93 !important
}

.bg-lgtred {
  background-color:#e77070 !important
}

.bg-navbarcustom {
  /* background-color:#2b2a2f;  */
  background-color:#009688
} 

/* end background styles*/

/* buttons --------------------*/

.btn.outline {
	background: none;
	padding: 12px 22px;
}
.btn-primary.outline {
	border: 2px solid #0099cc;
	color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}

.btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 400;
	letter-spacing: 1px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

.btn-primary.outline:hover {
  color: white;
	background-color: #36b3c9;
	border-color: #36b3c9;
}

/* End button style ---------------------*/